*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --main-color: #e55472;
    --text-color: #010101;
    --2nd-color: #434343;
    --other-color: #666666;
    --big-font: 4rem;
    --h2-font: 2.3rem;
    --p-font: 1.3rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
    display: flex;
    padding: 20px 14%;
    transition: all .50s all;
}
.logo{
    margin-left: -120px;
    margin-top: -10px;
}
.logo img{
    width: 180px;
}

/* navbar */

.navbar{
    display: flex;
    padding-top: 13px;
    margin-left: 70px;
}
.navbar a{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    margin: 10px 22px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.h-icons{
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.h-icons i{
    font-size: 25px;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 20px;
    transition: all .50s ease;
}
.h-icons i:hover{
    transform:translateY(-4px);
    color: var(--main-color);
}
.user-icon{
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.user-icon i{
    font-size: 25px;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 20px;
    transition: all .50s ease;
}
.user-icon i:hover{
    transform:translateY(-4px);
    color: var(--main-color);
}
#menu-icon{
    height: 30px;
    width: 30px;
    background: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* filter box */

.side-filter-box{
    height: 280px;
    width: 280px;
    margin-top: 100px;
    margin-left: 40px;
    position: fixed;
}
.filter-boxes{
    height: 50px;
    width: 300px;
}
#filter-heading{
    padding-top: 5px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}
#filter-p{
    padding-top: 15px;
    padding-left: 10px;
}


/* */

.category-p-main-box{
    height: 1500px;
    width: 950px;
    margin-left: 360px;
    margin-top: 100px;
}
.category-box{
    display: flex;
}

.category-product-box{
    height: 400px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(134, 108, 108);
    outline:2px solid #ccc
}
.category-product-box img{
    height: 300px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.category-product-box:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.category-product-box h4{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    padding-left: 10px;
    transition: all .50s ease;
}
.category-product-box h5{
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 10px;
    transition: all .50s ease;
}
.category-box-01{
    display: flex;
    margin-top: 10px;
}
.category-box-02{
    display: flex;
    margin-top: 10px;
}
.category-product-box i{
    color: rgb(146, 146, 25);
    padding-top: 5px;
}
.category-product-box #first-rating{
    padding-left: 10px;
}


#rating-count{
    font-size: 0.8rem;
    font-weight: lighter;
    color: darkblue;
}



/* contact */

section{
    padding: 60px 14% 30px;
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap:2.5rem;
    background: #272829;
}
.contact-box h4{
    margin-bottom: 1.5rem;
    font-size: 18px;
    color: var(--bg-color);
}
.contact-box li{
    margin-bottom: 18px;
}
.contact-box li a{
    display: block;
    color: #999999;
    font-size: 15px;
    font-weight: 500;
    transition: all .50s ease;
}
.contact-box li a:hover{
    transform: translateX(-7px);
    color: var(--main-color);
}
.contact-box h5{
    font-size: 16px;
    font-weight: 600;
    color: #999999;
}
.social{
    display: flex;
    margin-top: 1.8rem;
}
.social i{
    height: 37px;
    width: 37px;
    background: transparent;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 1.1rem;
    color: var(--main-color);
    transition: all .50s ease;
}
.social i:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
}
.end-text p{
    text-align: center;
    background: #272829;
    color: var(--other-color);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px;
}
.scroll-top{
    position: fixed;
    bottom: 2.3rem;
    right: 2.3rem;
}
.scroll-top i{
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 22px;
    padding: 12px;
    border-radius: 30px;
}